<div class="footer">
    <div class="social-media-links">
      <a href="https://www.facebook.com" target="_blank">
        <mat-icon>facebook</mat-icon>
      </a>
      <a href="https://www.twitter.com" target="_blank">
        <mat-icon svgIcon="twitter"></mat-icon>
      </a>
      <a href="https://www.instagram.com" target="_blank">
        <mat-icon svgIcon="instagram"></mat-icon>
      </a>
      <a href="https://www.linkedin.com" target="_blank">
        <mat-icon>linkedin</mat-icon>
      </a>
      <h1>Copyrights 2024</h1>
    </div>
  </div>